<div class="container mt-4">
  <h2>Make a booking!</h2>
  <%= simple_form_for [@event_space, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit %>
  <% end %>
</div>
