.card {
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  text-shadow: 0 0 0 black;
  display: grid;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.9);
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.card-category a {
  color: white;
  text-decoration: none;
 }

.card-link {
  width: 100%;
  position: absolute;
  bottom: 0px;
  top: 0px;
  &:hover {
    color: white;
    text-decoration: none;
    opacity: 1;
  }
}

.card-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-info-about {
  color: $gray;
  // font-size: 24px;
  // font-weight: bold;
  align-items:flex-start;
  padding-left: 24px;
  h2, h5 {
    font-weight: bolder;
  }
}

.card-about {
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 50%;
  display: flex;
  // align-items: left;
  color: $gray;
  font-size: 24px;
  // font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.9);
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.spaces-card {
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  background-color: white;
  text-shadow: 0 0 0 black;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 360px;
}

.city_card a {
  text-decoration: none;
}



@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
