.mapboxgl-popup {
  max-width: 200px;
  border-radius: 10px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
}

.index-map {
  width: 600px;
  height: 100vh;
  position: sticky;
  top: 72px;
}
